@media (min-width: 1200px) {
.for_page .container {
    max-width: 1373px;
}
}

@media (max-width: 1417px) {
    .block_minus {
        width: 240px;
    }
    .content-text {
        min-height: 73px;
    }
}

@media (max-width: 1199px) {
    .companies {
        padding-top: 77px;
        padding-bottom: 100px;
    }
    .start_list .start_list_item {
        max-width: 318px;
        margin-bottom: 25px;
    }

    .content a {
        padding: 15px 108px 17px 61px;
    }
}
@media (max-width: 1013px) {
    
}

@media (max-width: 991px) {
    .pre_footer_content h1 {
        font-size: 50px;
        line-height: 67px;
        letter-spacing: 1.38px;
        margin-bottom: 30px;
    }
    .start_title h1 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 1.48px;
    }
    .price_title h1 {
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 1.48px;
    }
    .reviews h1 {
        font-size: 50px;
        line-height: 56px;
        letter-spacing: 1.48px;
        margin-bottom: 9px;
    }
    .design_description h2 {
        font-size: 48px;
        line-height: 63px;
        letter-spacing: 1.48px;
        margin-bottom: 10px;
    }
    
    .ord {
        order: 2;
    }
    .payment_two .costom_two {
        order: 1;
    }
    .pre_footer {
        padding-top: 30px;
        padding-bottom: 43px;
    }
    .blog {
        padding-top: 44px;
        padding-bottom: 24px;
    }
    .start {
        padding-top: 50px;
        padding-bottom: 15px;
    }
    .start_list .start_list_item {
        margin-bottom: 61px;
    }
    .aft::after  {
        display: none;
    }
    .price {
        padding-top: 39px;
        padding-bottom: 50px;
    }
    .cosrumers_carousel {
        padding-bottom: 51px;
        padding-top: 43px;
    }
    .payment_two {
        padding-top: 66px;
        padding-bottom: 58px;
    }
    .costom_two {
        padding-top: 20px;
    }
    .column_information {
        padding-top: 42px;
        padding-bottom: 10px;
    }
    .design {
        padding-bottom: 15px;
    }
    .design_description {
        padding-top: 25px;
    }
    .companies {
        padding-bottom: 43px;
    }
    .picturies {
        margin-left: 119px;
    }
    .demo_links {
        justify-content: center;
        padding-bottom: 15px;
    }
    .carousel_item {
        text-align: center;
    }
    .carousel_item img {
        margin: 0 auto;
    }
    .content a {
        padding: 15px 108px 17px 108px;
    }
    .block_minus {
        max-width: 240px;
    }
    .minus_flex {
        display: flex;
        justify-content:center;
        padding-bottom: 20px;
    }
    .companies {
        padding-top: 480px;
    }
    .content {
        padding: 20px 31px 10px 35px;
    }
}
@media (max-width: 767px) {
    .costom_two {
        padding-top: 64px;
    }
    .design_description h2 {
        font-size: 48px;
        line-height: 62px;
    }
    .useful_links {
        padding-bottom: 20px;
    }
    .start_list .start_list_item {
        margin-bottom: 46px;
    }
    .start {
        padding-top: 37px;
        padding-bottom: 44px;
    }
    .content {
        padding: 30px 44px 20px 45px;
    }
    .costom_two {
        padding-top: 90px;
    }
    .picturies {
        margin-left: 67px;
    }
    .start_list_item  {
        margin: 0 auto;
    }
    .nav-menu ul.sub-menu {
        margin-left: 42px;
    }
    
}
@media (max-width: 576px) {
    .slide h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 21px;
        color: #090909;
    }
   
    .costom_two h2 {
        font-size: 42px;
        line-height: 54px;
    }
    .costom h2 {
        font-size: 42px;
        line-height: 56px;
    }
    .design_description p {
        font-size: 17px;
        line-height: 27px;
    }
    .design_description h2 {
        font-size: 46px;
        line-height: 58px;
    }
    .text_and_buttons :nth-child(3) {
        font-size: 17px;
        line-height: 27px;
    }
    .text_and_buttons h1 {
        font-size: 51px;
        line-height: 64px;
        letter-spacing: 1.48px;
    }
    .pre_footer_content h1 {
        font-size: 46px;
        line-height: 58px;
        letter-spacing: 1.18px;
        margin-bottom: 24px;
    }
    .start_title h1 {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1.18px;
    }
    .price_title h1 {
        font-size: 45px;
        line-height: 58px;
        letter-spacing: 1.18px;
    }
    .reviews h1 {
        font-size: 46px;
        line-height: 55px;
        letter-spacing: 1.18px;
    }
    .reviews {
        padding-top: 50px;
    }
    .costom_two {
        padding-top: 64px;
    }
    .picturies {
        margin-left: 55px;
    }
    .text_and_buttons .demo_links a {
        padding: 1px 35px;
    }
    .burger {
        display: flex;
        justify-content:space-between;
    }
    .nav-menu {
        display: none;
    }
    .responsive_menu {
        display: block;
    }
}
@media (max-width: 500px) {
    .picturies {
        margin-left: 34px;
    }
    .edit_carousel {
        padding: 30px 88px 0px 88px;
    }
}
@media (max-width: 470px) {
    .content {
        padding: 30px 44px 20px 35px;
    }
    .content a {
        width: 276px;
    }
    .content a {
        padding: 15px 108px 17px 108px;
    }
    .picturies {
        margin-left: 15px;
    }
}

@media (max-width: 405px) {
    .reviews {
        padding-top: 80px;
    }
    .reviews {
        padding-bottom: 22px;
    }
    .content {
        padding: 30px 44px 20px 10px;
    }
}